#rating-data {
    border: 1px solid black;
    background: lightgrey;
}

#bl-list {
    padding-left: 10px;
    margin-top: 0px;
    list-style: none;
    text-align: left;
}

#topBLAnime {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

#topBLAnime img {
    height: 196px;
    opacity: 1;
}